name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        # Run pylint with exit-zero to prevent failing the workflow
        result=$(pylint --disable=E0401,W0611,W1309,C0103,C0301,E0611 --exit-zero $(git ls-files 'pipeline/*.py'))
        
        # Show the Pylint result (warnings, errors, and score) in the logs
        echo "$result"
        
        # Extract the Pylint score
        score=$(echo "$result" | grep -oP 'Your code has been rated at \K[0-9]+')
        
        # Threshold
        echo "Pylint threshold: $score"
        
        # Fail the job if the score is below 7.0
        if [ "$score" -lt 7.0 ]; then
          echo "Pylint score is below threshold!" && exit 1
        fi
