name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        result=$(pylint --disable=E0401,W0611,W1309,C0103,C0301,E0611 $(git ls-files 'pipeline/*.py'))
        score=$(echo "$result" | grep -oP 'Your code has been rated at \K[0-9]+')
        echo "Pylint score: $score"
        if [ "$score" -lt 7 ]; then
          echo "Pylint score is below threshold!" && exit 1
        fi
